name: Build & Push Angular Image

on:
  push:
    branches: [ "main" ]

jobs:
  build-app:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Login Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build Angular Docker image
        run: docker build -t ${{ secrets.DOCKER_USER }}/animalinfoapp:latest .

      - name: Push Angular image
        run: docker push ${{ secrets.DOCKER_USER }}/animalinfoapp:latest
